.list-group {
    list-style: decimal inside;
}

.list-group-item {
    display: list-item;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.modal {
  padding: 0 !important; // override inline padding-right added from js
}
.modal .modal-dialog {
  width: 100%;
  max-width: none;
  height: 100%;
  margin: 0;
}
.modal .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}
.modal .modal-body {
  overflow-y: auto;
}

