[submodule "tests/SandhiKosh/SandhiKosh"]
	path = tests/SandhiKosh/SandhiKosh
	url = https://github.com/kmadathil/SandhiKosh.git
[submodule "KISS"]
	path = tests/KISS/KISS_Sanskrit_Parsing_Data
	url = https://github.com/kmadathil/KISS_Sanskrit_Parsing_Data.git
